<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">

    <th:block th:fragment="content">

        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>Member Modify page</h1>
        </div>
        <div class="container-md">
        <form action="/member/modify" method="post">


            <div class="mb-3">
                <label for="e" class="form-label">E-Mail</label> <input type="email"
                                                                        class="form-control" id="e" placeholder="E-mail입력..." name="email"
                                                                        th:value="${#authentication.getPrincipal().mvo.email}" readonly="readonly">
            </div>
            <div class="mb-3">
                <label for="n" class="form-label">닉네임</label> <input type="text"
                                                                     class="form-control" id="n" placeholder="이름 입력..." name="nickName"
                                                                     th:value="${#authentication.getPrincipal().mvo.nickName}">
            </div>
            <div class="mb-3">
                <label for="p" class="form-label">PW</label> <input type="password"
                                                                    class="form-control" id="p" placeholder="Password 입력..." name="pwd">
            </div>
            <div class="mb-3">
                <label for="r" class="form-label">reg_date</label> <input type="text"
                                                                          class="form-control" id="r" placeholder="ID입력..." name=""
                                                                          th:value="${#authentication.getPrincipal().mvo.regAt}"
                                                                          readonly="readonly">
            </div>

            <div class="mb-3">
                <label for="l" class="form-label">last_login</label> <input
                    type="text" class="form-control" id="l" placeholder="ID입력..."
                    name="" th:value="${#authentication.getPrincipal().mvo.lastLogin}" readonly="readonly">
            </div>

            <button type="submit" class="btn btn-primary">수정</button>

            <button type="button" id="memberDeleteLink" class="btn btn-danger">회원탈퇴</button>
        </form>
        <form action="/member/remove" method="post" id="memberDeleteForm">
            <!-- 인증된 계정의 이메일 -->
            <input type="hidden" name="email" th:value="${#authentication.getPrincipal().mvo.email}">
        </form>
        </div>

        <script>
            document.getElementById('memberDeleteLink').addEventListener('click',(e)=>{

                e.preventDefault();
                if(confirm("정말 회원탈퇴를 하시겠습니까?")){
                    document.getElementById('memberDeleteForm').submit();
                }
            })
        </script>

    </th:block>


</th:block>